
:root{
    --accent-color: #FF0043;
    --backgroung-color: #FFFFFF;
    --main-color: #00194A;
}

body{
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    padding-left: 15px;
    padding-right: 15px;
}

ul,p,h1,h2,h3{
    margin: 0;
    padding: 0;
}

ul, a{
    text-decoration: none;
    list-style: none;
}

.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

section{
    padding: 40px 0;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{ 
    color: var(--accent-color);
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.try{
    display: inline-flex;
    align-items: center;
    justify-content: center;

background-color: var(--accent-color);
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
border-radius: 23px;
color: var(--backgroung-color);
box-shadow: 0px 5px 50px 0px rgba(255, 0, 67, 0.10);
width: 94px;
height: 46px;
flex-shrink: 0;
}

/* hero sec */
.hero .container{
    display: flex;
    justify-content: space-between;
}

.hero-content{
    width: 552px;
flex-shrink: 0;
}

.hero-decoration{
    /* border: solid 3px rgb(157, 0, 255); */
    position: relative;
    width: 655px;
    height: 604px;
    flex-shrink: 0;
}

.icon{
    position: absolute;
}

.first{
    left: 128px;
    top: 0;
}

.second{
    bottom: 0;
    right: 232px;
}

.third{
    bottom: 45px;
    left: 71px;
}

.four{
    right: 276px;
    top: 129px;
}

.five{
    left: 0;
    top: 267px;
}

.six{
    top: 47px;
    right: 108px;
}

.nine{
    top: 98px;
    left: 32px;
}

.ten{
    bottom: 94px;
    right: 11px;
}

.hero-title{
    color: var(--main-color);
font-family: Roboto;
font-size: 60px;
font-style: normal;
font-weight: 500;
line-height: 85px;
margin-bottom: 20px;
width: 552px;
height: 170px;
flex-shrink: 0;
}

.hero-text{
    color: var(--main-color);
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 28px;
flex-shrink: 0;
margin-bottom: 50px;
}

.button{
    color: var(--backgroung-color);
font-size: 16px;
font-weight: 700;
width: 275px;
height: 60px;
border-radius: 30px;
background-color: var(--accent-color);
border: transparent;
box-shadow: 0px 5px 50px 0px rgba(255, 0, 67, 0.10);
}

.system-list{
    display: flex;
    gap: 30px;
}

.system-item{
    width: 360px;
    padding: 30px;
}

.system-list .title{
    margin-bottom: 15px;
    margin-top: 20px;
    color: #00194A;
font-family: Roboto;
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.system-list .text{
    margin-bottom: 21px;
    color: var(--main-color);
font-size: 16px;
font-weight: 300;
line-height: 26px;
opacity: 0.8;
}

.system-list .link{
    margin-bottom: 30px;
    color: var(--main-color);
    opacity: 0.5022;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration-line: underline;
}

.system-icons{
    width: 60px;
    height: 60px;
}

.personal .container{
    display: flex;
    gap: 217px;
    flex-direction: row-reverse;
}

.first-part .simple{
    width: 466px;
height: 100px;
color: var(--main-color);
font-family: Roboto;
font-size: 35px;
font-weight: 500;
line-height: 50px; 
}

.first-part .text{
    width: 466px;
height: 196px;
color: var(--main-color);
font-size: 18px;
font-weight: 300;
line-height: 28px;
margin-top: 30px;
}

.second-part .text{
    width: 211px;
height: 16px;
color: var(--main-color);
font-weight: 300;
margin-top: 5px;
}

.second-part .title{
    color: var(--main-color);
font-size: 18px;
font-weight: 500;
}